<%- include('partials/header') -%>
<main>
  <div class = "container">
    <div class="px-4 my-4 text-center">
      <h1 class="display-4 fw-bold">Journal</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">
            Take a moment to write down your thoughts and reflect on your journey
          </p>
        </div>
        <div class="overflow-hidden" style="max-height: 80vh;">
          <div class="container px-5">
            <img src="/img/journal.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="" width="800" height="1000" loading="lazy"  >
          </div>
        </div>
    </div>
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5 text-center">
          <h3>How Are You Today?</h3><br>
          <div class="row">
            <!-- enctype="multipart/form-data -->
            <form action="/journal/createJournal" method="POST" class="col s12">
          <div class="row">
            <div class="input-field">
              <label for="title" class="form-label">Title:</label>
              <input type="text" class="form-control" id="title" name="title" required>
            </div>
          </div><br>
          <div class="row">
            <div class="input-field">
              <label for="body" class="form-label">Text:</label>
              <textarea id="body" class="form-control" rows="4"  name="body" required></textarea>
            </div>
          </div>
            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center mb-5 my-4">  
              <button type="submit" value="Save" class="btn btn-dark">Submit</button>
              <a href="/journal" class="btn btn-dark">Cancel</a>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class=" my-4 border-bottom"></div>
    <div class="row row-cols-1 row-cols-md-3 g-4 entries">
      <% journal.forEach(function(journal){ %>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title"><%= journal.title %></h5>
            <p class="card-text"><%= journal.body.substring(0, 50)+"..." %></p>
            <div class="card-footer">
              <a href="/journal/<%= journal._id%>">Read more</a>
            </div>
          </div>
        </div>
      </div>
      <% }); %>
    </div>
  </div>
</main>
<%- include('partials/footer') -%>