<%- include('partials/header') -%>
  <div class = "container">
    <div class="text-center">
      <!-- <div class = "journal-img"
            style = "background-image: url('/img/light.jpg');"
      > -->
      <h3>How Are You Today:</h3><br>
      <div class="row">
        <!-- enctype="multipart/form-data -->
        <form action="/journal/createJournal" method="POST" class="col s12">
          <div class="row">
            <div class="input-field">
              <label for="title" class="form-label">Title:</label>
              <input type="text" class="form-control" id="title" name="title" required>
            </div>
          </div><br>
          <div class="row">
            <div class="input-field">
              <label for="body" class="form-label">Text</label>
              <textarea id="body" class="form-control" rows="4"  name="body" required></textarea>
            </div>
          </div>
          <div class="row">
            <button type="submit" value="Save" class="btn">Submit</button>
            <a href="/profile" class="btn">Cancel</a>
          </div>
        </form>
      </div> <br>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <% journal.reverse().forEach(function(journal){ %>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title"><%= journal.title %></h5>
            <p class="card-text"><%= journal.body.substring(0, 50)+"..." %></p>
            <div class="card-footer">
              <a href="/journal/<%= journal._id%>">Read more</a>
            </div>
          </div>
        </div>
      </div>
      <% }); %>
    </div>
  </div>
<%- include('partials/footer') -%>